# Godot 4+ specific ignores
.godot/
CustomEditor/GodotEditorCustomLinux.x86_64
CustomEditor/GodotEditorCustomWindows.exe
CustomEditor/linux_release.x86_64
CustomEditor/windows_release_x86_64.exe
/TestMusic
