# Godot 4+ specific ignores
.godot/
CustomEditor/GodotEditorCustomLinux.x86_64
CustomEditor/GodotEditorCustomWindows.exe
CustomEditor/GodotTemplateCustomLinux.x86_64
CustomEditor/GodotTemplateCustomWindows.exe
/TestMusic
Music-player.exe
Music-player.x86_64
